
body {
    margin: 0;
   font-family: Arial;
}
#header
{
    width:100%;
    min-width: 980px; /*??? ??? ??????*/
    height: 82px;
    background-color: #3b5998;
    background:linear-gradient(#4e69a2,#3b5998);
    border-bottom:1px solid #133783;
}
.container{
    margin: 0 auto;
    width: 980px;
    height: auto;
    overflow: auto; /*???? ??? ???????*/
  /*  background-color:#0c214e;*/
    
}
.float-left{
    float:left;
  /*  background-color: #132c5f;
    width:100px;
    height:82px*/
    
}
.float-right{
    float:right;
   /* background-color:#166226;
    width:100px;
    height:82px;*/
    
}
#logo{
	display: block;
	width: 170px;
	height: 34px;
	background-image: url(../images/logo.png);
	background-position: 0 0;
	margin-top: 30px;
	text-indent: -100px;
   overflow: hidden; /*????? ?? ???? ???? ?? ???? ????? ??????*/
}
.login-box{
    width:auto;
    height:82px;
    padding-top: 13px; /*??? ?? ?????? ?????? ?????*/
    float:left;
    margin-left:15px;
     box-sizing: border-box; /*?????? ??????? ???????? ?? ???? ?? ???????? ??????*/
}

.login-box label ,.login-box a{
    font-family: Arial;
    font-size: 12px; 
   padding-left:1px;
}
.login-box a:hover{
	text-decoration: underline; /*????? ?? ??? ????*/
}
.login-box label{
color:#fff;
}
.login-box a{
color:  #9cb4d8;  
 text-decoration: none;
}

.login-box input[type=email],.login-box input[type=password] {
    width: 142px;
	height: 17px;
    font-size: 12px;
	border: 1px solid #1d2a5b;
    margin-top: 4px;
    padding: 2px;
    margin-bottom:2px;
	
}
.login-box input[type=submit]{
    background-color: #4267b2;
    border:1px solid #29487d;
    color: #fff;
    height: 24px;
    padding: 2px 6px;
    font-size: 12px;
    margin-top: 22px;
    border-radius: 2px;
    font-weight: bold;
    line-height: 18px;
    cursor: pointer; /*????? ??? ???? ?????? */
}
.login-box input[type=submit]:hover{
	background-color: #365899; /*????? ??? ???????*/
}
.login-box a:hover{
	text-decoration: underline; /*????? ?? ??? ????*/
}   
 input:focus{
    outline: none;
}
#main{
	width: 100%;
	min-width: 980px;
	height: 600px;
	background-color: #fff;
	background: linear-gradient(#ffffff,#d3d8e8);
}
.description{
    width: 450px;
	font-size: 20px;
    font-family: Arial;
	color: #0e385f;
    font-weight: bold;
    margin-top: 40px;
    line-height:29px; /*??? ????? ??? ??????*/

}
.float-left img{
	width: 537px;
	height: 195px;
}
.float-right table{
   width: 400px;
    font-family: Arial;
}
.float-right table td{
   /* border: 1px solid #000;*/
    padding: 4px;
    width: 50%;
}
.float-right table input[type=text],
.float-right table input[type=email],
.float-right table input[type=password]{
    width: 100%;
	border: 1px solid #bdc7d8;
	border-radius: 5px;
	padding: 8px 10px;
	font-size: 18px;
	box-sizing: border-box;}
.float-right table select{
    font-size: 13px;
    height: 30px;
    padding: 5px 4px;
	border-color: #bdc7d8;
}
/* ???? ????? ????? ??? ??????? ?? ????? ??????*/
.float-right table select:nth-of-type(2),
.float-right table select:nth-of-type(3){
	margin-left: -4px;
}
.float-right table h2{
	font-size: 36px;
	color: #333;
	margin: 17px auto 0; 
}
.float-right table span{
	color: #1d2129;
    font-size: 19px;
}
.float-right table p{
    color: #777;
    font-size: 11px;
    width: 316px;
	line-height: 14px;
}
.float-right table div{
	display: inline-block;
	color: #1d2129;
    font-size: 18px;
    padding: 5px 10px 0 3px;
}
.float-right table input[type=submit]{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
	border: 1px solid #3b6e22;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
	min-width: 194px;
    padding: 7px 20px;
    text-align: center;
	font-size: 19px;
	font-weight: bold;
	}
.float-right table tr:nth-of-type(3) td{
	padding-top: 15px;
}
.float-right table tr:nth-of-type(5) td{
	padding-bottom:15px;
}
.float-right table tr:nth-of-type(7) a,
.float-right table a{
	display: inline-block;
	font-size: 11px;
    max-width: 150px;
	color: #365899;
    cursor: pointer;
    text-decoration: none;
	line-height: 14px;
}
    .float-right table tr:nth-of-type(7) a:hover,
.float-right table a:hover{
	text-decoration: underline;
}
.float-right table tr:last-of-type p{
	border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
	width: auto;
}
.float-right table tr:last-of-type p a{
	font-size: 13px;
    font-weight: bold;
}
#footer{
	width: 100%;
	background: #fff;
	height: auto;
	padding: 30px 0;
}
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer li {
	font-family: Arial;
	display: inline-block;
	font-size: 12px;
	color: #737373;
    padding-right: 8px;
	vertical-align:middle; /*???? ?????? ??????? ???????*/
}
#footer li a{
	cursor: pointer;
	color: #365899;
	text-decoration: none;
}
#footer li a:hover{
	text-decoration: underline;
}
.more-lang{
	display: block;
	padding: 4px 9px;
	background-color: #f6f7f9;
    border:1px solid #ced0d4;
    color: #4b4f56;
	border-radius: 2px;
    transition: background-color 0.2s; /*??? ????? ????? ??? ??????? ????? ?????? ??? ???? ?????? ??? ????*/
}
.plus-icon{
	display: block;
	background: url('../images/icons.png') no-repeat -39px -202px;
	width: 10px;
	height: 10px;
}
.more-lang:hover{
	background-color: #ececec;
}
.languages::after{
	content: "";
	display: block;
	width: 100%;
	border-top: 1px solid #dddfe2;
	margin: 10px 0 8px;	
}
#footer .links li{
	padding-right: 16px;
	margin-bottom: 2px;
	position: relative;
}
.ad-choices{
	display: inline-block;
	background: url('../images/logo.png') no-repeat -36px -130px;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 1px;
	right: 2px;
}
	
.links li:nth-child(28){
	margin-right: 16px;
}
.copy-rights{
	margin-top: 20px;
	font-family: Arial;
	font-size: 11px;
	color: #737373;
}
